<h1>Welcome to the Lab Supply Tracker!</h1>
<br>
<h2>If your lab is using this app you can <%= link_to "Sign up", signup_path %> as a user.</h2>
<br>
<h2>Already a user? <%= link_to "Log in", login_path %> here.</h2>
<br><br>
OR:
<br>
  <%= link_to "Log in with Google!", '/auth/google_oauth2' %>
