<!DOCTYPE html>
<html>
  <head>
    <meta content='test/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>
      <%= @user.name %> (Email: <%= @user.email %>)
      has signed up for <%= @lab.principal_investigator %> Lab's Lab Supply Tracker app.
    <br>
    </p>
    <p>

    </p>
    <p>
  </body>
</html>
