<!DOCTYPE html>
<html>
  <head>
    <meta content='test/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @user.name %>,</h1>
    <p>
      <%= @reagent.name.capitalize %> needs to be ordered for the <%= @lab.principal_investigator %> Lab.
    <br>
    </p>
    <p>

    </p>
    <p>
  </body>
</html>
