<!DOCTYPE html>
<html>
  <head>
    <meta content='test/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Lab Supply Tracker, <%= @new_user.name %></h1>
  </body>
</html>
