<div class='container'>
<h2>Categories of lab reagents:</h2>
<ul>
<% @categories.each do |category| %>
  <li>
    <% @category = category %>
    <%= link_to @category.name, lab_category_path(@lab, @category) %>
    </li>
  <% end %>
  </ul>
</div>
