<h2><%= link_to "Add a new reagent", new_lab_reagent_path(@lab) %></h2>

<h2><%= link_to "View reagent use registrations.", lab_reagent_uses_path(@lab) %></h2>

<h2><%= link_to "Create a new location", new_lab_location_path(@lab) %></h2>
