<h1>Reagents for the <%=@lab.principal_investigator%> Lab are stored in these locations:

    <ul>
    <% @locations.each do |location| %>
      <li>
        <%= link_to location.name, location_path(location) %><br>

    <% end %>
      </li>

    </ul>
<h1> Click on the link to see the reagents at each location </h1>
