<h1>Reagents for the <%=@lab.principal_investigator%> Lab are stored in these locations:

    <ul>
    <% @locations.each do |location| %>
      <li>
        <%= location.name %><br>

        <% location.reagents.each do |reagent| %>

          <%= link_to reagent.name, reagent_path(reagent) %> <br>

        <% end %>
      </li>
    <% end %>
    </ul>
