<h1>Reagents stored in the <%=@location.name%>: </h1>
    <ul>
    <% @location.reagents.each do |reagent| %>
      <li>

          <%= link_to reagent.name, reagent_path(reagent) %> <br>

    <% end %>
      </li>

    </ul>
<h1>Click on the reagent you want information about</h1>
